@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  overflow-x: hidden;
  font-family: "Inter", sans-serif;
  max-width: 100%;
}

body {
  font-family: "Inter", sans-serif;
}

#root {
  overflow-x: hidden;
}
